@font-face{
    font-family: Droid Serif;
    src: url(../fonts/Droid_Serif/DroidSerif.ttf);
}

h1, h2, h3, 
h4, h5, h6 {
    /*font-family: "Droid Serif" !important;*/
}
    
#head-bar h1 {
    padding: 30px;
    background-color: #f5f5f5;
    font-size: 50px;
    color: #3CB371;
    text-shadow: 2px 2px #CECECE;
    margin: 0;
}

#main-content {
    padding: .3em 1em;
}

.tasks li > * {
    margin-left: 3px;
}

li.task > input[type="checkbox"]:checked ~ span.task-name {
    text-decoration: line-through;
}

li.task > input[type="checkbox"]:checked ~ span.badge {
    display: none;
}

div.person {
    width: 200px;
    height: 200px;
    background-color: #CECECE;
}

div.person-name {
    color: #FFF;
    background-color: #262626;
}